@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mountains+of+Christmas:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sekuya&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(13deg ,rgba(22, 22, 203, 0.37), white);
    padding: 1rem;
}
.explanation {
   display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem 1.5rem 3rem 1.5rem ;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid;
  
}
.explanation h1{
    width: 100%;
    color: rgb(12, 12, 168);
    font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.explanation-in{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    width: 70%;
    gap: 12px;
   font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  
}
.explanation-in p{
    line-height: 1.5rem;
    background-color: rgba(128, 128, 128, 0.432);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.explanation-in p:hover{
    transform: translateY(5px);
    box-shadow: 0 10px 20px rgba(4, 17, 110, 0.5);
}
.explanation-in .spanning{
    padding: 0.6rem;
    background-color: rgba(240, 248, 255, 0.737);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.explanation-in .spanning:hover{
    transform: translateY(5px);
    box-shadow: 0 10px 20px rgba(4, 17, 110, 0.5);
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    background-image: url(dati1.jpeg);
    background-position: center;
    background-size: cover;
}
.container-entry{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 ;
    padding: 1.3rem ;
     color: aliceblue;
     background-color: hsla(0, 0%, 0%, 0.564);
     border-radius: 20px;
}
@media (max-width: 768px) {
    .container-entry{
        width: 90%;
    }

    form{
        grid-template-columns: 1fr;
    }
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 1rem ;
    gap: 15px;
    color: aliceblue;

}
.container-entry .btn{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn a{
    background-color: rgb(33, 64, 188);
    padding: 0.5rem;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
.btn a:hover,.btn a:focus{
   color: aqua;
}
.img{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.img img{
    border: 30px solid rgb(16, 16, 196);
    border-radius: 50%;
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1),border 2s ease 0.4s;
    animation: spin 2s ease forwards;
}
.img img{
    transform: rotate(180deg) scaleX(1.3) translateX(100px) translateY(30px);
    border: 30px solid rgba(16, 16, 196, 0.724);
    
}
@keyframes spin {
    0%{
        transform: rotate(0) scale(1);
    }
    50%{
        transform: rotate(180deg) rotate(-180deg) scale(1.5);
    }
    100%{
        transform: translateY(200px);
    }
}